<!-- navBar-->
<nav>
  <div class="nav-wrapper">
    <ul id="slide-out" style="width: 240px;" class="side-nav fixed">
      <li class="user-details">
        <div class="layer"></div>
        <div class="row img-admin ">
          <div class="col s4 m4 l4">
            <img src="assets/img/avatar.png" alt="" class="circle responsive-img ">
          </div>
          <div class="col s8 m8 l8 ">
            <p class="admin-name">Rodrigo Dugin</p>
          </div>
          </div>
      </li>
      <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>

</li>
    <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-sliders" aria-hidden="true"></i>Configurações</a>
</li>
    <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-youtube-play" aria-hidden="true"></i>Mídias</a>
</li>
    <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-calendar" aria-hidden="true"></i>Calendário</a>
</li>
  <li><a class="waves-effect waves-light active btn-flat"><i style="margin-left: 3px; margin-right: 29px;" class="fa fa-usd" aria-hidden="true"></i>Tabela de Preço</a>
</li>
  <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-users" aria-hidden="true"></i>Usuários</a>
</li>
  <li><a class="waves-effect waves-light active btn-flat"><i class="fa fa-list" aria-hidden="true"></i>Log</a>
</li>
    </ul>
    <a href="#" materialize="sideNav" data-activates="slide-out" class="button-collapse "><i class="material-icons">menu</i></a>
    <span class="brand-logo center "> Work Out</span>
    </div>
</nav>
<!--end of navBar-->
