
.title-container {
  background:  url('../assets/img/sport-banner.jpg') no-repeat center center; 
   position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
  text-align: center;
  z-index: 0;
}
.layer {
    background: radial-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.register {
  position: absolute;
  font-size: 36px;
  letter-spacing: .2rem;
  font-weight: 500;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title-row{
     background-color: #f2f2f2;
     padding: 10px 0;
     margin: 0 -20px;
}
.title {
  color:  rgb(244, 67, 54);
  font-style: italic;
   
}

.form {
    background: white;
    padding: 0 20px;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-text {
  font-size: 14px;
  font-weight: 300;
}

.input-container {
  margin: 0;
}

.input-file-container {
  margin: 0 0 120px 5px;
}

.weekDay {
  font-weight: 300;
  font-size: 16px;
}

label.upload {
 position: relative;
 left:50%;
   color:  rgb(244, 67, 54);
 transform: translateX(-50%)
}

.img-logo{
   position: relative;
 left:50%;
 transform: translateX(-53%)
}

.sport-checkbox{
  width: 180px;
  margin-bottom: 5px;
}