

.form {
    background: white;
    padding: 0 20px;
}

.title{
    margin: 40px 0 ;
    text-align: center;
}

.img-logo{
   position: relative;
 left:50%;
 transform: translateX(-53%)
}

label.upload {
 position: relative;
 left:50%;
   color:  rgb(244, 67, 54);
 transform: translateX(-50%)
}

.file-text {
  font-size: 13px;
  font-weight: 300;
}



.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
 