 <div class=" col s12 m12 ">
    <div class="card container-chart">
      <div class="row card-title">
        <div class="col l12 center-align">
          <span class="black-text">Inteligência dos Cadastrados</span>
        </div>
      </div>

       <div *ngIf="!lineChartData" class="loading-center">
    <div class="preloader-wrapper big active  ">
      <div class="spinner-layer spinner-red-only ">
        <div class="circle-clipper left ">
          <div class="circle "></div>
        </div>
        <div class="gap-patch ">
          <div class="circle "></div>
        </div>
        <div class="circle-clipper right ">
          <div class="circle "></div>
        </div>
      </div>
    </div>
  </div>
        <div *ngIf="lineChartData" style=" padding-left: 10px; margin-left: -15px;" class="card-content">
        <div class="row valign-wrapper">
          <div class="col l12"  style="width: 100%">
            
            <canvas baseChart  height="510"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="chartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
               ></canvas> 
                </div>
            </div>
      </div>
        </div>
      </div>