<div class="page"> 
<app-side-nav> </app-side-nav>

<div class="section"> </div>
 
<div class="row">
  <!-- request card-->
  <div class="col s12 m5">
    <div class="card">
      <div class="row card-title">
        <div class="col l12 center-align">
          <span class="white-text">Solicitação de Ingresso</span>
        </div>
      </div>

        <div style="text-align: center" *ngIf="noData" class="loading-center">
         <span class="noData"> No momento não há novas solicitações
   </span> 
        </div>

      <div *ngIf="users.length == 0 && !noData" class="loading-center">
    <div class="preloader-wrapper big active  ">
      <div class="spinner-layer spinner-red-only ">
        <div class="circle-clipper left ">
          <div class="circle "></div>
        </div>
        <div class="gap-patch ">
          <div class="circle "></div>
        </div>
        <div class="circle-clipper right ">
          <div class="circle "></div>
        </div>
      </div>
    </div>
  </div>
      
      <div *ngFor="let user of users" style="height: " class="card-content">
        <div class="row valign-wrapper">
          <div style="padding-left: 0 " class="col l2 m3 s3">
            <img [src]="user.profilePic" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col l8 m7 s7">
            <p class="name">
             {{user.name}}
            </p>
            <p style="  font-size: 15px;" class="timestamp truncate">
               {{user.emailCorporate}}
            </p>
            <p class="timestamp">
               {{user.timestamp}}
            </p>
          </div>
          <div class="col l2 m2 s2 confirm-btn right-align">
            <a (click)="onAcceptEmployee(user)" class="confirm-btn btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a>
            <a (click)="onRejectEmployee(user)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
          </div>
        </div>
         <div style="margin-top: 15px" class="divider">
      </div>
      </div>
   
    </div>
  </div>
  <!-- end of request card-->
  <!-- pie chart card-->
   <app-events> </app-events>
  
  <!--end of pie chart card-->

  <div class="row">
 <app-pie-chart> </app-pie-chart>
</div>

</div>
<div class="row">
   <app-line-chart> </app-line-chart>
</div>



<div class="row">
  <app-bar-chart> </app-bar-chart>
</div>

 </div>
<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true,  startingTop: '4%', endingTop: '10%'}]"
  [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect red waves-red btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action red modal-close waves-effect waves-red btn-flat">Agree</a>
  </div>
  </div>
