<!-- navBar-->
<nav>
  <div class="nav-wrapper md-elevation-z6">
    <span class="brand-logo "> Work Out</span>
  </div>
</nav>
<!--end of navBar-->
<div class="section"> </div>
<div class="row">
  <!-- request card-->
  <div class="col s12 m5">
    <div class="card">
      <div class="row card-title">
        <div class="col l12 center-align">
          <span class="white-text">Solicitação de Ingresso</span>
        </div>
      </div>
      <div style=" padding-left: 10px " class="card-content">
        <div class="row valign-wrapper">
          <div style="margin-left: 0; padding-left: 0 " class="col l2 m3 s3">
            <img src="assets/img/avatar.png" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col l8 m7 s7">
            <p class="name">
              Rodrigo Dugin Pagnuzzi Araujo
            </p>
            <p style="  font-size: 15px;" class="timestamp truncate">
              rodrigodugin@gmail.com
            </p>
            <p class="timestamp">
              31/01/2016 - 12h30
            </p>
          </div>
          <div class="col l2 m2 s2 confirm-btn right-align">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
          </div>
        </div>
      </div>
      <div class="divider">
      </div>
      <div style=" padding-left: 10px " class="card-content">
        <div class="row valign-wrapper">
           <div style="margin-left: 0; padding-left: 0 " class="col l2 m3 s3">
            <img src="assets/img/avatar.png" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col l8 m7 s7">
            <p class="black-text">
              Fábio Mendonça
            </p>
             <p style="  font-size: 15px;" class="timestamp truncate">
              fabiomas7@gmail.com
            </p>
             <p class="timestamp">
              29/01/2016 - 08h45
            </p>
          </div>
          <div class="col l2 m2 s2 confirm-btn right-align">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of request card-->
  <!-- pie chart card-->
  <app-pie-chart> </app-pie-chart>
  <!--end of pie chart card-->
</div>
<div class="row">
   <app-line-chart> </app-line-chart>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="row card-title">
        <div class="col l12 center-align">
          <span class="white-text">Eventos</span>
        </div>
      </div>
      <div style=" padding-left: 10px " class="card-content">
        <div class="row valign-wrapper">
          <div style="margin-left: 10px; padding-left: 0; text-align: center" class="col l2 m2 s2">
            <img src="https://firebasestorage.googleapis.com/v0/b/work-out-348f6.appspot.com/o/sports%2Ficon%2Ffutebol.png?alt=media&token=2d24a7a6-3f2f-44ae-95c4-3f42c7702596"
              alt="" class="responsive-img">
              <p style="  font-size: 15px;" class="timestamp truncate"> Futebol </p>
          </div>
          <div class="col l7 m7 s7 left-align">
            <p style="margin: 10px 0"><b style="margin-left: 10px"> NOME: </b>Futebol de TI </p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px">LOCAL: </b> Rua das Laranjeiras, 200 - Laranjeiras</p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px"> DATA: </b>10/02/2016 - 19h00 </p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px"> CONFIRMADOS:  </b>23 </p>
          </div>
          <div class="col l3 m3 s3" style="float:right; text-align: center">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
            <p class="timestamp"> Cancelar evento</p>
          </div>
        </div>
        <div class="divider">
          
        </div>
        <div class="row valign-wrapper">
          <div style="margin-left: 10px; padding-left: 0; text-align: center" class="col l2 m2 s2">
            <img src="https://firebasestorage.googleapis.com/v0/b/work-out-348f6.appspot.com/o/sports%2Ficon%2Fcorrida.png?alt=media&token=a578cbe2-c02c-4aab-88b1-967824515693"
              alt="" class="responsive-img">
              <p style="  font-size: 15px;" class="timestamp truncate"> Corrida </p>
          </div>
          <div class="col l7 m7 s7 left-align">
            <p style="margin: 10px 0"><b style="margin-left: 10px"> NOME: </b>Corrida de todos os setores</p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px">LOCAL: </b> Av. Morges de Medeiros, 1424 - Lagoa</p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px"> DATA: </b>16/02/2016 - 20h30 </p> 
            <p style="margin: 10px 0"><b style="margin-left: 10px"> CONFIRMADOS:  </b>36 </p>
          </div>
          <div class="col l3 m3 s3" style="float:right; text-align: center">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
            <p class="timestamp"> Cancelar evento</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true,  startingTop: '4%', endingTop: '10%'}]"
  [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect red waves-red btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action red modal-close waves-effect waves-red btn-flat">Agree</a>
  </div>
  </div>
