@media screen and (max-width: 992px) {
.page{
 padding-left: 0 !important;
}
}

.card-content{
  padding: 10px 20px;
}

.card{
  min-height: 600px;
}

.row{
  margin-bottom: 0;
}

.noData{
 font-size: 18px;
 font-weight: 300;
}

.page{
 padding-left: 240px;
}

.card-title {
  padding: 15px;
  background: rgb(244, 67, 54);
  margin-bottom: 0;
}


.name {
  font-size: 16px;
}

.timestamp {
  margin-top: 5px !important;
  
  color: rgba(0, 0, 0, .5) !important;
  font-size: 13px;
}

.confirm-btn {
  margin-bottom: 5px;
}

