<div class="page"> 
<app-side-nav> </app-side-nav>

<div class="section"> </div>
 
<div class="row">
  <!-- request card-->
  <div class="col s12 m5">
    <div class="card">
      <div class="row card-title">
        <div class="col l12 center-align">
          <span class="white-text">Solicitação de Ingresso</span>
        </div>
      </div>
      <div  class="card-content">
        <div class="row valign-wrapper">
          <div style="padding-left: 0 " class="col l2 m3 s3">
            <img src="assets/img/avatar.png" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col l8 m7 s7">
            <p class="name">
              Rodrigo Dugin Pagnuzzi Araujo
            </p>
            <p style="  font-size: 15px;" class="timestamp truncate">
              rodrigodugin@gmail.com
            </p>
            <p class="timestamp">
              31/01/2016 - 12h30
            </p>
          </div>
          <div class="col l2 m2 s2 confirm-btn right-align">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
          </div>
        </div>
      </div>
      <div class="divider">
      </div>
      <div style=" padding-left: 10px " class="card-content">
        <div class="row valign-wrapper">
           <div style="margin-left: 0; padding-left: 0 " class="col l2 m3 s3">
            <img src="assets/img/avatar.png" alt="" class="circle responsive-img">
            <!-- notice the "circle" class -->
          </div>
          <div class="col l8 m7 s7">
            <p class="black-text">
              Fábio Mendonça
            </p>
             <p style="  font-size: 15px;" class="timestamp truncate">
              fabiomas7@gmail.com
            </p>
             <p class="timestamp">
              29/01/2016 - 08h45
            </p>
          </div>
          <div class="col l2 m2 s2 confirm-btn right-align">
            <a class="confirm-btn btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of request card-->
  <!-- pie chart card-->
   <app-events> </app-events>
  
  <!--end of pie chart card-->

  <div class="row">
 <app-pie-chart> </app-pie-chart>
</div>

</div>
<div class="row">
   <app-line-chart> </app-line-chart>
</div>



<div class="row">
  <app-bar-chart> </app-bar-chart>
</div>

 </div>
<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true,  startingTop: '4%', endingTop: '10%'}]"
  [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect red waves-red btn-flat" (click)="closeModal()">Close</a>
    <a class="modal-action red modal-close waves-effect waves-red btn-flat">Agree</a>
  </div>
  </div>
