.card-title {
  padding: 15px;
 
  margin-bottom: 0;
}

.title{
  color:  black;
}

.card-reveal {
  padding-top: 5px;
  background-color: white;
  text-align: center;
}

.filter-title {
  background-color: white;
  font-size: 26px;
}

.filter-topic {
  font-size: 16px;
  font-weight: 600;
}

.btn-flat,
.btn-flat i {
  color: white;
  padding: 0;
  font-size: 1.6rem;
}

.filter-container {
  padding: 15px 15px 0 15px;
  text-align: left;
  margin-bottom: -15px;
}

.btn-save-filter {
  margin-top: 30px;
}


.btn-flat i{
  color: black !important;
}
