.btn-flat i {
    font-size: 1.6rem;
}

.card-title{
    margin-bottom: 0;
    padding: 15px
}

.middle{
    position: absolute;
    left:50%;
    transform: translateX(-50%)
}

.bar-chart{
        margin-left: -15px;
    height: 350px;
    width: 100%
}