 <!-- navBar-->
<nav>
  <div class="nav-wrapper md-elevation-z6">
    <span class="brand-logo "> Work Out</span>
  </div>
</nav>
<div class="row main">
  <h4 class="title">Por favor, faça o login na sua conta</h4>
  <div class="section"></div>
  <div class="container">
    <div class="z-depth-1 grey white row login-card">
      <form class="col s12">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">email</i>
            <input class='validate' type='email' name='email' id='email' />
            <label for='email'>Entre com o seu email</label>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">lock</i>
            <input class='validate' type='password' name='password' id='password' />
            <label for='password'>Entre com a sua senha</label>
          </div>
          <label style='float: right;'>
								<a class='pink-text' href='#!'><b>Esqueceu a Senha?</b></a>
							</label>
        </div>
        <br />
        <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect red'>Login</button>
        </div>
      </form>
    </div>
  </div>
  <a routerLink="../register" class="create-account">Criar conta</a>
</div>
