.md-elevation-z6 {
  background-color: rgb(244, 67, 54);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.brand-logo {
  margin-left: 10px;
} 
 
.main{
    padding: 30px;
    position: relative;
    text-align: center;
}

.title{
    font-weight: 500;
    font-size: 28px;
    color: rgba(0, 0, 0, .8)
}

.create-account{
    text-decoration: underline;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.login-card{
    display: inline-block; 
    padding: 32px 48px 0px 35px;
     border: 1px solid #EEE;
}

@media screen and (max-width: 569px) {

    .login-card{
   
    padding:15px;
    }

    .input-field{
        padding-left: 0;
    }

    .title{
        font-size: 20px;
        margin-bottom: 0;
    }
    .main{
    padding: 10px;
    }
    
}