
  

<div class="bg-container ">
  <div class="layer"></div>
 <div class="nav-container">
    <img class="logo" src="../assets/img/want2play-logo.png" height="40px" alt="">
    <div class="headerDivider"></div>

    <ul >
      <li><a class="menu-item" [routerLink]="['/register']">Registre-se</a></li>
      
      <li><a  class="menu-item" [routerLink]="['/login']">Login</a></li>
    </ul>
    
  </div>

 <div class="title-container">
   <h1 class="title flow-text" > WorkOut </h1>

   <p class="sub-title flow-text"> A plataforma de esporte para sua empresa</p>

   <a  [routerLink]="['/register']" class="waves-effect waves-light hoverable red btn-large"><i class="material-icons left">assignment</i>Registre-se</a>
 </div>

 
</div>
